.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(180deg, #336767 0%, #66CDCD 100%);
}

.all_ads {
  display: flex;
  flex-direction: column;
  padding: 30px 120px 80px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .all_ads {
    padding: 20px 50px 50px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .all_ads {
    padding: 20px 50px 50px;
  }
}
.all_ads__label {
  font-weight: 600;
  font-size: 36px;
  color: #3A5B22;
  margin: 0 auto 0 0;
}
.all_ads__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .all_ads__main {
    flex-direction: column;
    padding-top: 20px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .all_ads__main {
    flex-direction: column;
    padding-top: 20px;
  }
}
.all_ads__filters {
  display: flex;
  flex-direction: column;
  width: 21%;
  align-items: start;
}
.all_ads__filters__label {
  font-size: 24px;
  font-weight: 600;
  color: #3A5B22;
  margin: 0;
}
.all_ads__filters__button {
  color: white;
  background-color: #ABB7C2;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 40px;
}
.all_ads__filters__button_selected {
  background-color: #63CB89;
  cursor: default;
  border-radius: 40px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .all_ads__filters__label {
    cursor: pointer;
  }
  .all_ads__filters__button {
    display: none;
  }
  .all_ads__filters__button_selected {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .all_ads__filters__label {
    cursor: pointer;
  }
  .all_ads__filters__button {
    display: none;
  }
  .all_ads__filters__button_selected {
    display: none;
  }
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 0 60px;
  align-items: start;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .filters {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .filters {
    display: none;
  }
}
.filters__item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.filters__name {
  color: #3A5B22;
  font-weight: 500;
  font-size: 20px;
  text-align: start;
  margin: 0;
}
.filters__option {
  color: #858D84;
  font-weight: 300;
  font-size: 17px;
  text-align: start;
  margin-left: 30px;
  cursor: pointer;
  display: block;
}
.filters__option_selected {
  color: #858D84;
  font-weight: 500;
  font-size: 17px;
  text-align: start;
  margin-left: 30px;
  cursor: pointer;
  display: block;
}

.ads {
  display: grid;
  width: 75%;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 768px) and (max-width: 1023px) {
  .ads {
    grid-template-columns: repeat(2, 1fr);
    margin: 40px auto;
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .ads {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
  }
}

.label_not_found {
  display: flex;
  margin: 30px auto;
  font-size: 30px;
  color: #8f8f8f;
  font-weight: 600;
}

.filters__adaptiv {
  display: flex;
  flex-direction: column;
  z-index: 100;
  position: absolute;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px #ABB7C2;
  width: 70vw;
  top: 30%;
  padding: 50px;
  margin-bottom: 50px;
}
.filters__adaptiv__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.filters__adaptiv__label {
  margin: 0 0 10px;
  color: #3A5B22;
  font-size: 24px;
  font-weight: 600;
}
.filters__adaptiv__close {
  margin: 0 0 0 auto;
  box-shadow: 0 0 10px #ABB7C2;
  padding: 0 18px;
  border-radius: 40px;
  color: red;
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .filters__adaptiv {
    display: none;
  }
}

.filters_adaptiv__button {
  color: white;
  background-color: #ABB7C2;
  font-size: 18px;
  font-weight: 600;
  cursor: default;
  border-radius: 40px;
  margin: 40px auto 0 0;
}

.filters_adaptiv__button_selected {
  background-color: #63CB89;
  cursor: pointer;
  border-radius: 40px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin: 40px auto 0 0;
}

/*# sourceMappingURL=AllAdvertisementsRage.module.css.map */
