@keyframes liftAndRelease {
  50% {
    transform: translateY(-30px);
  }
}
.main_page {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 100px;
}

.main_image {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url("../../assets/main-banner.png");
  background-size: auto 100%;
  background-repeat: repeat-x;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main_image {
    background-size: auto 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main_image {
    color: #120f6e;
    font-weight: 200;
  }
}
.main_image__labels {
  display: flex;
  flex-direction: column;
  margin: 80px 250px 640px;
  color: white;
}
.main_image__labels__first {
  font-weight: 800;
  font-size: 60px;
}
.main_image__labels__second {
  font-weight: 300;
  font-size: 24px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main_image__labels {
    margin: 80px 150px 350px;
  }
  .main_image__labels__first {
    font-size: 40px;
  }
  .main_image__labels__second {
    font-size: 20px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main_image__labels {
    margin: 80px 100px 250px;
  }
  .main_image__labels__first {
    font-size: 30px;
  }
  .main_image__labels__second {
    font-size: 18px;
  }
}

.main_advantages {
  display: flex;
  flex-direction: row;
  padding: 100px 140px 0;
  justify-content: space-between;
}
.main_advantages__item {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 27%;
}
.main_advantages__item svg {
  width: 70px;
}
.main_advantages__item__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
}
.main_advantages__item__text__first {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
}
.main_advantages__item__text__second {
  font-size: 14px;
  font-weight: 500;
  color: #828282;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main_advantages {
    padding: 50px 50px 0;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }
  .main_advantages__item {
    gap: 15px;
    width: 100%;
  }
  .main_advantages svg {
    width: 50px;
    margin-left: 100px;
  }
  .main_advantages svg__text__first {
    font-size: 12px;
  }
  .main_advantages svg__text__second {
    font-size: 12px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main_advantages {
    flex-direction: column-reverse;
    align-items: center;
    padding: 50px 100px 0;
    gap: 30px;
  }
  .main_advantages__item {
    gap: 15px;
    width: 100%;
  }
  .main_advantages svg {
    width: 40px;
  }
  .main_advantages svg__text__first {
    font-size: 14px;
  }
  .main_advantages svg__text__second {
    font-size: 12px;
  }
}

.main_ads {
  display: flex;
  flex-direction: row;
  padding: 140px 120px 0;
  height: 500px;
  justify-content: space-between;
}
.main_ads__see_more {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: start;
  justify-content: center;
  gap: 30px;
  cursor: pointer;
}
.main_ads__see_more__first {
  font-weight: 500;
  font-size: 50px;
  text-align: start;
  color: black;
}
.main_ads__see_more__second {
  display: flex;
  flex-direction: row;
  gap: 15px;
  text-align: start;
  font-weight: 500;
  font-size: 18px;
  color: black;
}
.main_ads__see_more__second img {
  height: 28px;
  width: 28px;
}
.main_ads__examples {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main_ads {
    flex-direction: column;
    padding: 100px 100px 0;
    height: auto;
    gap: 50px;
  }
  .main_ads__see_more {
    width: 100%;
    gap: 10px;
  }
  .main_ads__see_more__first {
    margin: 0;
  }
  .main_ads__see_more__second {
    margin: 0;
  }
  .main_ads__examples {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main_ads {
    flex-direction: column;
    padding: 100px 100px 0;
    height: auto;
    gap: 50px;
  }
  .main_ads__see_more {
    width: 100%;
    gap: 10px;
  }
  .main_ads__see_more__first {
    margin: 0;
    font-size: 30px;
  }
  .main_ads__see_more__second {
    margin: 0;
    font-size: 18px;
  }
  .main_ads__see_more__second img {
    width: 20px;
  }
  .main_ads__examples {
    width: 100%;
  }
}

.ad_example {
  display: flex;
  flex-direction: row;
  width: 30%;
  position: relative;
  pointer-events: none;
  cursor: default;
}
.ad_example__back {
  display: flex;
  flex-direction: column;
  background-color: #C1D0E4;
  border-radius: 50px;
  width: 100%;
  height: 70%;
  margin-top: auto;
}
.ad_example__info {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 50px;
  width: 100%;
  height: 50%;
  margin-top: auto;
  justify-content: space-between;
}
.ad_example__text {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 26px 30px;
}
.ad_example__text__name {
  display: flex;
  font-weight: 500;
  font-size: 24px;
  color: black;
  margin: 0;
}
.ad_example__text__stars {
  display: flex;
  flex-direction: row;
  gap: 2px;
}
.ad_example__text__stars img {
  height: 18px;
}
.ad_example__add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
  font-size: 28px;
  font-weight: 500;
}
.ad_example__add img {
  height: 60px;
  width: 60px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .ad_example {
    height: 300px;
  }
  .ad_example__text {
    padding: 20px;
    width: auto;
  }
  .ad_example__add svg {
    width: 40px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .ad_example {
    height: 230px;
  }
  .ad_example__text {
    padding: 20px;
    width: auto;
  }
  .ad_example__text__name {
    font-size: 18px;
  }
  .ad_example__add {
    font-size: 18px;
  }
  .ad_example__add svg {
    width: 30px;
  }
}

img.ad_example {
  z-index: 100;
  position: absolute;
  width: 100%;
  pointer-events: none;
}
@media (min-width: 768px) and (max-width: 1023px) {
  img.ad_example {
    height: 200px;
    width: auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  img.ad_example {
    height: 150px;
    width: auto;
  }
}

.main_events {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 180px 120px;
}
.main_events__label_first {
  font-weight: 600;
  font-size: 45px;
  margin: 0;
}
.main_events__label_second {
  font-weight: 500;
  font-size: 20px;
  color: #4F4F4F;
  margin: 0;
}
.main_events__images {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 50px;
}
.main_events__images__div {
  display: flex;
  flex-direction: column;
  width: 49%;
  gap: 13px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main_events {
    padding: 100px 100px 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main_events {
    padding: 100px 100px 0;
  }
}

.main_event_item {
  display: flex;
  width: 100%;
  position: relative;
}
.main_event_item img {
  width: 100%;
  border-radius: 50px;
  pointer-events: none;
}
.main_event_item p {
  color: transparent;
  z-index: 100;
  position: absolute;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  margin: 0;
}
.main_event_item p:hover {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main_event_item p:hover {
    font-size: 30px;
  }
}

.main_forum {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
}
.main_forum__text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 25px;
  width: 40%;
}
.main_forum__text__first {
  font-weight: 600;
  font-size: 50px;
  color: black;
  text-align: start;
}
.main_forum__text__second {
  color: #4F4F4F;
  font-weight: 500;
  font-size: 20px;
  text-align: start;
}
.main_forum__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}
.main_forum__item {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 20px;
}
.main_forum__item img {
  width: 60px;
  height: 60px;
}
.main_forum__item__text_first {
  text-align: start;
  font-size: 25px;
  font-weight: 500;
  color: black;
}
.main_forum__item__text_second {
  text-align: start;
  font-weight: 400;
  color: #4F4F4F;
  font-size: 16px;
}
.main_forum__img {
  width: 40%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main_forum {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main_forum {
    display: none;
  }
}

/*# sourceMappingURL=MainPage.module.css.map */
