@import "../../styles/adaptiv"

.header
  display: flex
  flex-direction: column
  width: 100%
  background: linear-gradient(180deg, #336767 0%, #66CDCD 100%)

.profile
  display: flex
  flex-direction: column
  min-height: 100vh
  justify-content: start

  &__main
    display: flex
    flex-direction: row
    padding: 50px 120px 80px
    align-items: start
    justify-content: space-between

    @include device(tablet)
      padding: 30px 50px 50px

    @include device(mobile)
      padding: 30px 20px
      flex-direction: column
      align-items: center

.user_info
  display: flex
  flex-direction: column
  padding: 30px
  justify-content: start
  width: 30%
  border-radius: 40px
  box-shadow: 0 0 20px #ABB7C2

  @include device(mobile)
    width: 80%
    margin: 0 auto

  img
    width: 40%
    border-radius: 90px
    box-shadow: 0 0 20px #65c2cb
    margin: 0 auto

  &__text
    display: flex
    flex-direction: column
    align-items: center
    color: black
    gap: 5px

  &__name
    font-size: 30px
    font-weight: 600
    margin: 0

    @include device(tablet)
      color: red

  &__mail
    font-weight: 400
    font-size: 20px
    margin: 0
    color: #269172
    padding: 2px 5px
    border-radius: 12px
    background-color: #d7f6f4

  &__how_long
    font-weight: 400
    font-size: 20px
    color: black
    margin: 20px auto 0 0

  &__description
    font-weight: 400
    font-size: 20px
    color: black
    margin: 0

.about
  display: flex
  flex-direction: column
  width: 60%
  border-radius: 40px
  box-shadow: 0 0 20px #ABB7C2

  @include device(mobile)
    box-shadow: none
    width: 90%

.ads_choose
  display: flex
  flex-direction: row
  align-items: center
  gap: 5px
  font-size: 20px
  font-weight: 400
  cursor: pointer
  margin: 0 auto
  padding: 0

  &__selected
    color: #65cba5
    font-size: 22px
    font-weight: 700
    cursor: default

  @include device(mobile)
    margin: 20px auto 0

.ads
  display: grid
  gap: 30px
  padding: 20px 50px 50px
  grid-template-columns: repeat(2, 1fr)

  @include device(tablet)
    padding: 20px 30px

  @include device(mobile)
    padding: 0